*{
    margin:
     0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    // border: 1px solid red;
}

#exp{
    .work, .edu{
        .item{
            display: flex;
            width: 100%;
            .itemName{
                width: 30%;
                padding-right: 20px;
            }
            .itemContent{
                width: 70%;
                border-left: 2px solid black;
            }
        }
    }
}
#skills {
    img{
        width: 64px;
    }
}
footer{
    height: 20vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        list-style: none;
    }
}
